@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&family=Quicksand:wght@300&family=Roboto:wght@300&display=swap");

.font-poppins {
  font-family: poppins, sans-serif;
}
.font-quicksand {
  font-family: quicksand, sans-serif;
}

.font-roboto {
  font-family: roboto, sans-serif;
}
